/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 7, 2021, 10:16:57 AM
    Author     : Admin
*/

.bg-custom {
    background:#1b5e20;
}
.c-head{
    background: #4fc3f7;
}
.div{
    
    float:left;
}